.kab-label {
	position: absolute;
	top: 0.3rem;
	left: 1.2rem;
	cursor: text;
	transition: all 0.1s ease-in-out;
}

.kab-label-group {
	position: absolute;
	top: 0.35rem;
	left: 3.2rem;
	cursor: text;
	transition: all 0.1s ease-in-out;
}

input:focus + label,
input:valid + label,
select:focus + label,
select:valid + label {
	top: -1.1rem;
	background-color: white;
	font-weight: bold;
	padding: 0.1rem;
	z-index: 3;	
}
